<div [hidden]="flagNabvar">
  <nav class="navbar navbar-dark bg-dark">
    <div class="d-flex align-items-center" style="margin-left: 10px;">
      <button type="button" class="btn btn-dark mr-8" (click)="toggleSidenav()">
        <i class="fa fa-list" aria-hidden="true"></i>
      </button>
      <span class="navbar-brand mb-0 h1">TECNOFACTORY</span>

    </div>
    <div class="ml-auto">
      <button type="submit" routerLink="/profile" class="btn btn-dark mr-2">Mi Perfil</button>
      <button type="submit" (click)="onLogout()" class="btn btn-dark mr-2">Cerrar Sesion</button>
    </div>
  </nav>
  <div class="sidenav" [ngClass]="{'show': sidenavOpen}" id="sidenav">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <i class="fa fa-cog" aria-hidden="true"></i> Marvel
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="btn-group-vertical w-100">
              <button type="button" class="btn btn-dark" routerLink="/comics"><i class="fas fa-history"
                  aria-hidden="true"></i>  Historial Comics</button>
              <button type="button" class="btn btn-dark" routerLink="/comics-favorites"><i class="fas fa-star"
                  aria-hidden="true"></i>  Comics Favoritos</button>
              <button type="button" class="btn btn-dark" routerLink="#"><i class="fa fa-ambulance"
                  aria-hidden="true"></i> Personajes comics</button>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fa fa-child" aria-hidden="true"></i> Aplicaciones
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="btn-group-vertical w-100">
              <button type="button" class="btn btn-dark">Opción 1</button>
              <button type="button" class="btn btn-dark">Opción 2</button>
              <button type="button" class="btn btn-dark">Opción 3</button>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fa fa-child" aria-hidden="true"></i> Personalizaciones
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="btn-group-vertical w-100">
              <button type="button" class="btn btn-dark">Opción 1</button>
              <button type="button" class="btn btn-dark">Opción 2</button>
              <button type="button" class="btn btn-dark">Opción 3</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-sidenav">
  <router-outlet></router-outlet>
</div>